@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the Auth0 ASP.NET Core MVC Starter Project</h2>
        <p>To follow along in building this sample please <a href="https://auth0.com/docs/quickstart/webapp/aspnet-core">refer to the Quickstart</a>.
    </div>
</div>

<section id="info" style="color: purple">
    <b>Testing solution using .NET 8.0 (also works with .NET 6.0) and OIDC logon to "auth0.com". View/page "Account" is configured with attribute [Authorize].</b><br>
    <b>More information in text-file "readme-solution.txt".</b><br><br>
</section>
